<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br" >

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
	<title> :: Joel dos Santos - Tutoriais :: </title>
	
	<link rel="stylesheet" type="text/css" href="../../stylesheets/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/tutorial.css"/>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/syntax.css"/>
	<link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico"/>
	
	<!--script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19665706-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script-->
</head>

<body>
	<div id="titulo">Joel <spam>dos</spam> Santos - <spam><i>Tutoriais</i></spam></div>
	<div id="fundo">
		<div id="fundocima"></div>
		<div id="conteudo">
			{{ content }}
		</div>
		<div id="fundobaixo"></div>
	</div>
	<div id="rodape">
		<a href="../../"><img src="../../images/voltar.png" alt="Voltar" title="Voltar"/></a>
	</div>
</body>

</html>
